@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#h2Cart{
    font-family: 'Bebas Neue', cursive;
    font-size:40px;
    color:#f77f00;
}

#botonRemoverCart{
height: 50px;
background-color: #edf2f4;
}

.containerCart{
    display: flex; 
    justify-content:center; 
    align-items:flex-start;
}

.sectionItemCartContainer{
    margin-top: 5%; 
    width:55%;
}

.sectionItemCart{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3% 2%;
    border-bottom: solid 2px rgba(143, 143, 143, 0.5);
    border-radius: 10px;
    background-color: #edf2f4;
}
.sectionDescripcionCard{
    width:50%;
}

.botonRemoveCarrito{
    color: black !important;
}

.imagenCard{
    border-radius: 10px;
    object-fit: contain;
}

/* ----------------------------------------- */
.cardComprar{
    background-color: #2b2d42;
    color: #fff;
    width: 350px;
    height: auto;
    margin: 5%;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    position: relative;
    right: 0;
}

.summary{
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 30px;
}
.cantidadProductos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    font-size: 15px;
    font-weight: 600;
}

.subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    font-size: 15px;
    font-weight: 600;
}

.envios{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    font-size: 15px;
    font-weight: 600;
}
.envioFree{
    color: green;
    display: inline;
    font-size: 15px;
}

.tax{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    font-size: 15px;
    font-weight: 600;
}

.total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.totalParrafo{
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
}

#botonCheckOut{
    height: 50px;
    margin: 10px 0 ;
    background-color: #f77f00;
    color: #fff;
    border-radius: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#botonPaypal{
    height: 50px;
    margin: 10px 0;
    background-color: #fff;
    color: #fff;
    border-radius: 50px;
}

.imgPaypal{
    width: 60px;
}

@media (max-width: 1350px) {

    #h2Cart{
        margin-left: 20px ;
    }
    .containerCart{
        display:flex;
        flex-direction: column;
        justify-content:center; 
        align-items:center;
        max-width: 100%;
    }

    .sectionItemCartContainer{
        margin-top: 5%; 
        width:70%;
    }

    .sectionItemCart{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 3% 2%;
        border-bottom: solid 2px rgba(143, 143, 143, 0.5);
        border-radius: 10px;
        background-color: #edf2f4;
    }
    
    .botonRemoveCarrito{
        color: black !important;
    }
    
    .imagenCard{
        border-radius: 10px;
        object-fit: contain;
    }
    .cardComprar{
        background-color: #2b2d42;
        color: #fff;
        width: 300px;
        height: auto;
        margin: 5%;
        margin-top: 80px;
        padding: 20px;
        display: grid;
        grid-template-columns: auto;
    }
    .sectionimagenCard{
        max-width: 150px;
        margin-right: 30px;
    }

    .sectionDescripcionCard{
    width: 100% ;
    font-size: 13px;
    }
}


@media (max-width: 960px) {

    #h2Cart{
        margin-left: 20px ;
    }
    .containerCart{
        display:flex;
        flex-direction: column;
        justify-content:center; 
        align-items:center;
        margin: 3%;
        min-width: 350px
    }

    .sectionItemCartContainer{
        margin-top: 5%; 
        width:100%;
    }

    .sectionItemCart{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 3% 0;
        border-bottom: solid 2px rgba(143, 143, 143, 0.5);
        border-radius: 10px;
        background-color: #edf2f4;
    }
    
    .botonRemoveCarrito{
        color: black !important;
    }
    
    .imagenCard{
        border-radius: 10px;
        object-fit: contain;
    }
    .cardComprar{
        background-color: #2b2d42;
        color: #fff;
        width: 300px;
        height: auto;
        margin: 5%;
        margin-top: 80px;
        padding: 20px;
        display: grid;
        grid-template-columns: auto;
    }
    .sectionimagenCard{
        max-width: 150px;
        margin-right: 30px;
    }

    .sectionDescripcionCard{
    width: 100% ;
    font-size: 13px;
    }
}