#itemListContainer{
    display: grid;
    height: 100%;
/*     grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            345px, 1fr
        )
    );
    gap: 50px;
    background-color: rgba(149, 152, 166, 0.5);
}

#items{
    height: auto;
    width: 345px;
    margin: 15% 10% ;
    border: solid 2px #7f77e0;
    border-radius: 5px;
    box-shadow: 1px 1px 25px 2px #7f77e0;
}

#imagenProducto:hover{
    transform: scale(1.1, 1.1);
}

#divButton{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

#button{
    border: solid 1px #7f77e0;
    color: #7f77e0;
    border-radius: 5px;
}

#divButton :hover{
    background-color: hsla(252, 18%, 25%, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
}



/* @media (max-width: 1300px) {
    #itemListContainer {
        grid-template-columns: 1fr 1fr;
    } 

    #items{
        width: 345px;
        height: auto;
        margin: 15%;
    }

  } */

  @media (max-width: 960px) {
    #itemListContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 

    #items{
        width: 345px;
        height: auto;
        margin: 15%;
    }

  }