
.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedorItemCount{
    margin: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contador{
    margin: 0 15px;
}

.leyendaItemList{
    margin: 0;
}