.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedorItemCount {
    margin: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
    border-radius: 5px;
    background-color: white;
}

.contador {
    margin: 0 15px;
    font-weight: 600;

}

.leyendaItemList {
    margin: 0;
}

#botones {
    color: #f77f00;
    height: 50px;
}


#addToCart {
    border: #f77f00 solid 2px;
    background-color: #f77f00;
    color: white;
}